# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vsidx
*.suo
*.db
*.json
*.ipch
*.pdb
*.sln
*.vcxproj
*.filters
*.user
*.idb
*.pdb*.recipe
*.ilk
*.log
*.tlog
*.lastbuildstate
.vs/
x64/
Release/
Debug/
*.ipdb
*.recipe
*.vcxproj.FileListAbsolute.txt
*.dll
*.pdb
obj/
bin/

StuMan/log/log
StuMan/store/userdata.dat
StuMan/log/log
StuMan/store/userdata.dat
StuMan/store/studentBin.dat
*~*
StuMan/store/


.idea/
out/
target/
*.iml
*.iws
*.ipr
*.properties.local

*.class
*.jar
*.war
*.ear
*.tmp
*.bak
*.swp
logs/
*.log
.m2/
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
lib/
test-output/
surefire-reports/

.DS_Store
Thumbs.db
Desktop.ini
*.swp
*~
temp/
tmp/
.env
.env.local